#navbar{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: auto;
    margin-top: 10px;
    margin-left: 13px;
    margin-right: 13px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-color: black;
}


.nav-item{
    margin-left: 35px;
    margin-right: 35px;
    background-color: rgba(0, 255, 21, 0.5);
    border-right-style: solid;
    border-left-style: solid;
    border-color: black;
}


.nav-item:hover{
    background-color: rgba(0, 255, 21, 0.8);

}
#banner{
    border-style: solid;
    border-color: black;
}
footer {
    position: absolute;
    bottom: 0;
    background-color: #1e373e;
    text-align: center;
    color: #47c029;
}

@media (max-width: 992px) {
    #jobnav{
        width: 100%;
    }
}