#navbar{
    background-color: gainsboro;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
}
.navbar{
    border-style: solid;
}
.nav-item{
    border-style: solid;
    border-color: black;
    margin-left: 35px;
    background-color: rgba(0, 255, 21, 0.5);
    font-weight: bold;
}

.nav-item:hover{
    background-color: rgba(0, 255, 21, 0.8);

}
#banner{
    border-style: solid;
    border-color: black;
}
footer {
    
    background-color: #1e373e;
    text-align: center;
    color: #47c029;
}